.sidebar{
    height: 100vh;
    border: 10px;
}

.nameItem{
    overflow: visible;
    padding-top: 1rem;
}

.dividerBar{
    height: 1px;
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
}